<div>
    <div id="txt">
        <p>Hello and welcome to the face of my first full-stack project :]</p>
        <p>This website is my final project at John Bryce College(High-tech & IT), </p>
        <p>where I've studied Java-Full Stack Developement.</p>
        <p>In this project I've implemented all we've learned in the course, bulding a coupon merchant </p>
        <p>system from back-end, through the logic, and to this web browser client.</p>
        <p>Covered in this project: OOP, Java Beans, DAO, JDBC, </p>
        <p>Threads, Spring Framework, Spring Boot, JPA, Hibernate, </p>
        <p>REST, Spring MVC, SPA and Angular.</p>
        <p>Hope you enjoy this demo of my newbie skills.</p>
    </div><br>

    <div id="tnx">
        <h4>*:·.-:¦:-·* Special Thanks *:·.-:¦:-·*</h4>
        <p>My teachers at John Bryce:</p>
        <p><a href="https://www.linkedin.com/in/eldar-bakshi-a1775b62/" title="Eldar Baksi">Eldar Baksi</a>, <a
                href="https://www.linkedin.com/in/nir-gal-48252613/" title="Nir Gal">Nir Gal</a> and <a
                href="https://www.linkedin.com/in/rami-younes-34805233/" title="Rami Yunes">Rami Yunes.</a></p>
        <p>And all my family and friends for listening to me talking about nothing but this for a few month.</p><br>



        <p>Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>
</div>