<h1>Add Company</h1>
<form #formInfo="ngForm" action="/action_page.php">
  <label for="cname">Company Name</label><span *ngIf="cname.invalid && cname.touched"> *</span>
  <input #cname="ngModel" required type="text" id="cname" name="cname" placeholder="Company name"
    [(ngModel)]="company.name">

  <label for="email">Email</label><span *ngIf="email.invalid && email.touched"> *</span>
  <input #email="ngModel" required email type="text" id="email" name="email" placeholder="Email"
    [(ngModel)]="company.email">

  <label for="password">Password</label><span *ngIf="pass.invalid && pass.touched"> *</span>
  <input #pass="ngModel" required type="text" id="password" name="password" placeholder="Password"
    [(ngModel)]="company.password">

  <input [disabled]="!formInfo.form.valid" style="font-size: larger;" type="button" value="Add" (click)='addCompany()'>
</form>