<div class="row">
  <div class="column">
    <div class="card">
      <div style="font-weight: bolder; font-size: larger;">Companies</div><br>
      <a routerLink="/admin/add-company" routerLinkActive="active-link">Add</a><br>
      <a routerLink="/admin/update-company" routerLinkActive="active-link">Update</a><br>
      <a routerLink="/admin/get-one-company" routerLinkActive="active-link">Get one</a><br>
      <a routerLink="/admin/get-all-company" routerLinkActive="active-link">Get all</a><br>
      <a routerLink="/admin/delete-company" routerLinkActive="active-link">Delete</a><br>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div style="font-weight: bolder; font-size: larger;">Customers</div><br>
      <a routerLink="/admin/add-customer" routerLinkActive="active-link">Add</a><br>
      <a routerLink="/admin/update-customer" routerLinkActive="active-link">Update</a><br>
      <a routerLink="/admin/get-one-customer" routerLinkActive="active-link">Get one</a><br>
      <a routerLink="/admin/get-all-customer" routerLinkActive="active-link">Get all</a><br>
      <a routerLink="/admin/delete-customer" routerLinkActive="active-link">Delete</a><br>
    </div>
  </div>
</div>