<h1>Company Details</h1>
<div id="inp">
  <label for="id">Choose Company</label><br>
  <select #type="ngModel" required id="id" name="id" [(ngModel)]="id">
    <option *ngFor="let c of companies" value="{{c.id}}">{{c.name}}</option>
  </select>
  <br><input class='button' style="font-size: larger;" type="button" value="GET INFO" (click)='getCompany()'>
</div>

<table id="table">

  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{company.name}}</td>
    <td>{{company.email}}</td>
  </tr>
</table>