<div class="row">
  <div class="column">
    <div class="card">
      <div style="font-weight: bolder; font-size: larger;">Company</div><br>
      <a routerLink="/company/add" routerLinkActive="active-link">Add Coupon</a><br>
      <a routerLink="/company/update" routerLinkActive="active-link">Update Coupon</a><br>
      <a routerLink="/company/coupons" routerLinkActive="active-link">Coupon/s Info</a><br>
      <a routerLink="/company/delete" routerLinkActive="active-link">Delete Coupon</a><br>
      <a routerLink="/company/company-profile" routerLinkActive="active-link">My Profile</a><br>
    </div>
  </div>
</div>